<% @available_room && @available_room.users.each do |user| %>
	<div class="user_profile">
		<h2><%=user.name%><small><%=user.hack_tags.map(&:name).join(", ")%></small></h2>
	</div>
	|
<% end %>
<div id="and_you">
	<h1><a href="#">私も参加する</a></h1>
	<%= form_tag url_for(controller: "users", action: "create"), id:"new_user" do %>
		<% if @available_room %>
			<%= hidden_field_tag :room_id, @available_room.id %>
		<% end %>
		<%= text_field_tag :my_custom, "", placeholder: "あなたが毎日かかさずやっていることは？", data:{source:HackTag.all.map(&:name), provide: "typeahead"}, autocomplete:"off" %>
		<%= text_field_tag :nick_name, "", placeholder: "あなたのニックネームは？" %>
		<%= submit_tag "OK!" %>
	<% end %>
</div>
