<h2><%= @user.progres_count %>pts</h2>
<% title @hack_tags.map(&:name).join(", ") %>
<%= hidden_field_tag :urge_add_to_home_screen_on_iOS, params[:auto_done] %>
<% if @incomplete_hack_tags.present? %>
	<%= form_for @progre do |f| %>
		<%= hidden_field_tag :auto_done, params[:auto_done] %>
		<% for hack_tag in @incomplete_hack_tags %>
			<%= check_box_tag "hack_tag_ids[]", hack_tag.id %>
			<%= hack_tag.name %>
		<% end %>
		<%= f.hidden_field :success, value: true %>
		<%= f.hidden_field :done_at, value: Time.now %>
		<%= f.hidden_field :user_id, value: @user.id %>
		<%= f.submit "やったよ" %>
	<% end %>
<% else %>
	<h4>今日の分は終わりです。おつかれさま！<small>毎日続けると、<%=link_to "新しい習慣に挑戦する", new_hack_tag_path %>ことができます。</small></h4>
<% end %>

<% if @todays_your_last_progre %>
	<%= hidden_field_tag :todays_your_last_progre_done_at, @todays_your_last_progre.done_at.to_i %>
	<%= form_for @todays_your_last_progre do |f| %>
		<%= f.text_field :comment %>
		<%= f.submit "コメント" %>
	<% end %>
<% end %>

<div id="roommates">
	<% @roommates.each do |user| %>
	<div class="user_status" id="<%if @user.id == user.id %>you<%end%>">
		<%= user.name %>
		<%= user.hack_tags.map(&:name).join(", ") %>
		<% if user.progres.done_today.present? %> やった<%unless @user.id == user.id%><%=link_to "コツを尋ねる", ask_user_path(user), method: "POST" %><%end%>
		<% else %> まだ 
		<% end %>
	</div>
	<% end %>
</div>

<ul>
<% @progres_records && @progres_records.each do |progre| %>
	<li><%=progre.done_at%><%=progre.hack_tag.name%><%=progre.user.name%><%=progre.comment%></li>
<% end %>
</ul>
